<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yida.mapper.AddressBookMapper">

    <select id="list" parameterType="AddressBook" resultType="AddressBook">
        select * from address_book
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="isDefault != null">
                and is_default = #{isDefault}
            </if>
        </where>
    </select>

    <update id="update" parameterType="addressBook">
        update address_book
        set consignee = #{consignee},
            sex = #{sex},
            phone = #{phone},
            province_code = #{provinceCode},
            province_name = #{provinceName},
            city_code = #{cityCode},
            city_name = #{cityName},
            district_code = #{districtCode},
            district_name = #{districtName},
            detail = #{detail},
            label = #{label},
            is_default = #{isDefault}
        where id = #{id} and user_id = #{userId}
    </update>

</mapper>
